@import "../../../styles/variables.scss";

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.container-section {
    width: 75%;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .container-section {
        width: 100%;
    }
}

.game-container {
    width: 100%;
    height: 100%;
}

.button-game {
    width: 45px;
    height: 45px;
    padding: 4px;
    margin: 4px;
    font-size: 23px;
    font-family: Rajdhani-Medium;
    background-color: transparent;
    color: $yello-color;
    border-radius: 0;
    border: solid 1px rgba(0, 0, 0, 0);
}

.button-game:hover {
    border: double 1px $cian-color;
    outline: double 1px $cian-color;
    outline-offset: 3px;
    background-color: rgba(37, 255, 255, 0.2);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(37, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 10px 5px rgba(37, 255, 255, 0.6);
    box-shadow: 0px 0px 10px 5px rgba(37, 255, 255, 0.6);
}

.button-game:active {
    color: darken($cian-color, 25%);
    background-color: $cian-color;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(37, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 12px 3px rgba(37, 255, 255, 0.9);
    box-shadow: 0px 0px 12px 3px rgba(37, 255, 255, 0.9);
}

.button-game:disabled {
    opacity: unset;
}

.button-game-selected {
    color: #483a54;
    font-family: Rajdhani-Bold;
}

.timer-container {
    color: $yello-color;
    width: 85%;

    .props-timer-conatiner {
        border-bottom: solid 1px $yello-color;
        margin-bottom: 5px;
        margin-top: 23px;

        .props-span {
            color: $yello-color;
            font-size: 23%;
        }
    }

    .time-box {
        text-align: center;
        width: 60px;
    }

    .title-timer {
        font-size: 23px;
        font-family: Rajdhani-Medium;
    }

    .counter-timer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-family: Rajdhani-Bold;
    }

    .progress {
        border-radius: 0;
        border: solid 1px $yello-color;
        background-color: transparent;
        height: 8px;

        .progress-bar {
            background-color: $yello-color;
            transition: width 0.1s ease;
        }
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        .title-timer {
            font-size: 18px;
        }
    }
}

.buffer-container {
    margin-left: 1rem;

    .box {
        width: fit-content !important;
    }
}

.item-buffer-container {
    background-image: url("../../../assets/img/Buffer-empty.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin: 0 5px;

    &.item-resolve {
        background-image: unset;
        border: solid 1px $yello-color;
    }

    .label-buffer {
        padding: 1px;
        text-align: center;
        width: 30px;
        height: 30px;
        color: $yello-color;
        font-family: 'Rajdhani-Medium';
        font-size: 20px;
    }
}

.buffer-title-container {
    color: $yello-color;
    font-size: 25px;
    margin-bottom: 5px;
    font-family: Rajdhani-Medium;

    .label-buffer {
        width: 30px;
        height: 30px;
        font-size: large;
        color: $yello-color;
    }
}

.matix-container {
    .splash-container-justify {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .splash-container {
        position: absolute;
        z-index: 2;
    }

    .splashWinsOrFail {
        clip-path: polygon(2% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 2%);
        width: fit-content;
        min-width: 430px;
        margin: 0rem 0.8rem;
        height: 0px;
        transition: height 0.5s ease 0s;

        &.resolve {
            height: 390px;
            background-color: $green-color;
        }

        &.fail {
            height: 390px;
            background-color: $red-color;
        }

        .line {
            width: 100%;
            border-bottom: solid 1px black;
            padding: 0.5rem 0;
        }

        .splash-header {
            padding: 0rem 1rem;
            display: flex;
            align-items: center;
            height: 45px;
            font-size: 23px;
        }

        .splash-body {
            padding: 0.25rem 0.8rem;
            font-family: Rajdhani-Bold;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 95% 100%, 0 100%);

            &.resolve {
                border: solid 1px $green-color;
                color: $green-color;
                background-color: darken($green-color, 40%);
            }

            &.fail {
                border: solid 1px $red-color;
                color: $red-color;
                background-color: darken($red-color, 55%);
            }
        }

        .splash-footer {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Rajdhani-SemiBold;
            font-size: 1rem;

            &.resolve span {
                color: darken($green-color, 40%);
            }

            &.fail span {
                color: darken($red-color, 55%);
            }
        }
    }

    .button-game-exit-background {
        margin-top: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 74%, 91% 100%, 0 100%);

        &.resolve {
            border: solid 1px darken($green-color, 40%);
            background-color: darken($green-color, 40%);
        }

        &.fail {
            border: solid 1px darken($red-color, 55%);
            background-color: darken($red-color, 55%);
        }
    }

    .button-game-exit-background:hover {
        &.resolve {
            border: solid 1px $green-color;
            background-color: $green-color;
        }

        &.fail {
            border: solid 1px $red-color;
            background-color: $red-color;
        }
    }

    .button-game-exit {
        border-radius: unset;
        clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%);
        padding: 0.2rem 2rem 0.5rem 0.2rem;
        font-family: Rajdhani-Medium;
        font-size: 25px;

        &.resolve {
            border: solid 1px darken($green-color, 40%);
            color: lighten($green-color, 35%);
            background-color: $green-color;
        }

        &.fail {
            border: solid 1px darken($red-color, 55%);
            color: lighten($red-color, 20%);
            background-color: $red-color;
        }

    }

    .button-game-exit:hover {
        &.resolve {
            border: solid 1px $green-color;
            color: $green-color;
            background-color: darken($green-color, 40%);
        }

        &.fail {
            border: solid 1px $red-color;
            color: $red-color;
            background-color: darken($red-color, 55%);
        }
    }

    .box {
        margin-top: 0;
        padding: 15px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .row-matrix {
            height: 55px;
            z-index: 1;
        }
    }

    .code-matrix-container {
        clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
        background-color: $yello-color;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        height: 45px;
        font-size: 23px;
        font-family: Rajdhani-Light;

        span {
            margin-left: 15px;
        }
    }

    .container-hover-line-col {
        position: fixed;
        width: inherit;
        height: inherit;
        padding: 1rem 1rem 1rem 0rem;
    }

    .hover-line {
        display: flex;
        justify-content: center;
        height: 55px;
        width: 100%;
        padding: 0 50px;
    }

    .hover-col {
        width: 55px;
        height: 55px;
    }

    .hover-col .hover-line {
        &.active {
            background-color: rgba(170, 170, 190, 0.2);
        }

        &.hover {
            background-color: rgba(220, 255, 95, 0.2);
        }
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        .splash-container-justify {
            display: block;
        }

        .splashWinsOrFail {
            &.resolve {
                height: 360px;
            }

            &.fail {
                height: 360px;
            }

        }

    }
}

.sequence-container {
    .sequence-box-decorator {
        clip-path: polygon(14px 0, 100% 0, 100% 100%, 0 100%, 0 14px);
        background-color: $yello-color;
        position: absolute;
        width: 20px;
        height: 45px;
    }

    .sequence-box-container {
        position: relative;
        background-color: #120F19;
        clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
        padding: 15px 20px;
        display: flex;
        align-items: center;
        color: $yello-color;
        height: 45px;
        border: solid 1px $yello-color;
        border-bottom: unset;
        font-size: 23px;
        font-family: Rajdhani-Regular;

        .icon-code-sequence-game {
            width: 27px;
            height: 27px;
        }

        span {
            margin-left: 0.5rem;
        }
    }

    .label-game {
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 0px 5px;
        color: #ffffff;
        font-size: 23px;
        font-family: Rajdhani-Medium;
    }

    .label-game-resolve {
        color: $yello-color;
    }

    .logo-code-game {
        width: 64px;
        height: 64px;
    }

    .box {
        position: relative;
        margin-top: 0;
        padding: 10px 15px;
    }

    .code-row {
        display: flex;

        .code-result {
            position: absolute;
            width: calc(100% - 1.4rem);
            margin-left: 0.5rem;
            height: 0px;
            transition: height 0.5s ease 0s;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 98% 100%, 0 100%);

            &.resolve {
                height: 64px;
                background-color: $green-color;
                color: darken($green-color, 40%);
            }

            &.fail {
                height: 64px;
                background-color: $red-color;
                color: darken($red-color, 55%);
            }

            .label-game {
                margin-left: 1rem;
                margin-top: 0.1rem;

                &.resolve {
                    color: darken($green-color, 40%);
                }

                &.fail {
                    color: darken($red-color, 55%);
                }
            }
        }

        .code-challenge {
            display: flex;
        }

        .code-description {
            display: flex;
            position: relative;
            z-index: 1;

            &.resolve {
                color: darken($green-color, 40%);
            }

            &.fail {
                color: darken($red-color, 55%);
            }
        }

        .code-text {
            color: $yello-color;
            font-family: Rajdhani-Medium;
            margin-left: 1rem;
            width: 100%;

            h5 {
                color: #ffffff;
            }

            label {
                max-width: 300px !important;
            }

            h5.resolve {
                color: darken($green-color, 40%);
            }

            h5.fail {
                color: darken($red-color, 55%);
            }

            label.resolve {
                color: darken($green-color, 40%);
            }

            label.fail {
                color: darken($red-color, 55%);
            }
        }
    }

    .container-hover-code {
        position: absolute;
        display: flex;
        height: 100%;
        padding-bottom: 20px;
    }

    .hover-code {
        width: 30px;
        height: 100%;
        margin: 0 5px;
        background-color: rgba(170, 170, 190, 0.2);
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        .label-game {
            margin: 0px;
            font-size: 20px;
        }

        .hover-code {
            margin: 0px;
        }

        .code-title {
            font-size: 18px;
        }

        .code-label {
            font-size: 16px;
        }
    }
}

:host ::ng-deep .space-code {
    width: 40px;

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        width: 30px;
    }
}

.icon-code-matrix-game {
    width: 27px;
    height: 27px;
}