@use "sass:color";
@use "../styles/variables.scss" as *;

.auido-control {
    z-index: 1000;
    height: 40px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
}

.auido-control:hover {
    .auido-control-menu {
        width: 15rem;
    }
}

.auido-control-menu {
    display: flex;
    overflow: hidden;
    width: 0px;
    height: 40px;
    transition: width 0.5s ease;
    margin-bottom: 0.5rem;
}

.bi::before {
    vertical-align: -5px;
}

.slider-decorator {
    height: inherit;
    border: solid 2px $yello-color;
    background-color: $black-color;
}

.btn-mute {
    width: 40px;
    height: 40px;
}