@import "../../../styles/variables.scss";

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.container-section {
    width: 75%;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .container-section {
        width: 100%;
    }
}

.builder-level-container {
    height: 80vh;
}

.head-container {
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
    background-color: $yello-color;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    font-size: 23px;
    font-family: Rajdhani-Light;

    span {
        margin-left: 15px;
    }
}

.icon-code-matrix-game {
    width: 1.5rem;
    height: 1.5rem;
}

.btn {
    border-radius: 0;
    clip-path: polygon(16px 0, 100% 0, 100% 100%, 0 100%, 0 16px);
    border: solid 2px $cian-color;
    background-color:$black-color;
    color: $cian-color;
    font-family: Rajdhani-Medium;
    font-size: 1.2rem;
    text-align: center;
}

.btn:active {
    background-color: $cian-color;
}

.btn:hover {
    background-color: darken($cian-color, 50%);
}

.btn:active{
    background-color: $cian-color;
}

.btn-decorator {
    clip-path: polygon(14px 0, 100% 0, 100% 100%, 0 100%, 0 14px);
    transition: background-color .15s ease-in-out;
    background-color: $cian-color;
}

.btn-decorator:active {
    transition: background-color .15s ease-in-out;
    background-color: $yello-color;

    &.main-menu {
        background-color:$black-color;
    }
}

.bi {
    vertical-align: -0.25rem;
    font-style: normal;
}

.btn-main-menu {
    padding: 0.2rem 1.2rem;
}

.p-button-text {
    color: $cian-color;
}

.p-button-text:focus {
    border-color: $cian-color;
    box-shadow: 0 0 0 1px $cian-color;
}

:host ::ng-deep .p-paginator {
    border: 1px solid $yello-color;
    background-color: $black-color;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    font-family: Rajdhani-Medium;
    color: $yello-color;
    padding: 0.5rem 0.5rem;
    font-size: 1.3rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-family: Rajdhani-Medium;
    font-size: 1.2rem;
    color: $yello-color;
    padding: 0.5rem 0.5rem;
}