/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/arya-orange/theme.css";
@import "primeng/resources/primeng.css";
@import "./styles/Bootstrap-custom.scss";
@import "./styles/variables.scss";

$cursor-sm: './assets/img/Cursor-cy-mini.png';
$cursor-md: './assets/img/Cursor-cy-mid.png';
$cursor-xl: './assets/img/Cursor-cy.png';

@font-face {
    font-family: 'Rajdhani-Regular';
    src: url('./assets/font/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: 'Rajdhani-Light';
    src: url('./assets/font/Rajdhani-Light.ttf');
}

@font-face {
    font-family: 'Rajdhani-Medium';
    src: url('./assets/font/Rajdhani-Medium.ttf');
}

@font-face {
    font-family: 'Rajdhani-SemiBold';
    src: url('./assets/font/Rajdhani-SemiBold.ttf');
}

@font-face {
    font-family: 'Rajdhani-Bold';
    src: url('./assets/font/Rajdhani-Bold.ttf');
}

@font-face {
    font-family: 'Cyberpunk';
    src: url('./assets/font/Cyberpunk.ttf');
}

:root {
    color: yellow;
    cursor: url($cursor-md), default;
    cursor: url($cursor-md), pointer;
}

label {
    cursor: url($cursor-md), auto;
}

button {
    cursor: url($cursor-md), pointer !important;
}

body {
    background-image: url("./assets/img/tutorial_bg2-ex.png");
    background-repeat: repeat-y;
}

.box {
    border: 1px solid $yello-color;
    background-color: $black-color;
}

.polygon-tl-corner {
    clip-path: polygon(calc(0% + 1.2rem) 0, 100% 0, 100% 100%, 0 100%, 0 calc(0% + 1.2rem)) !important;
}

.polygon-tl-corner-decorator {
    clip-path: polygon(calc(0% + 1rem) 0, 100% 0, 100% 100%, 0 100%, 0 calc(0% + 1rem)) !important;
}

.polygon-bl-corner {
    clip-path: polygon(100% 0, 100% 100%, calc(0% + 1.2rem) 100%, 0% calc(100% - 1.2rem), 0 0) !important;
}

.polygon-bl-corner-decorator {
    clip-path: polygon(100% 0, 100% 100%, calc(0% + 1rem) 100%, 0% calc(100% - 1rem), 0 0) !important;
}

.polygon-br-corner {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%) !important;
}

.polygon-br-corner-decorator {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%) !important;
}

.polygon-tl-br-corner {
    clip-path: polygon(calc(0% + 1.2rem) 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%, 0 calc(0% + 1.2rem)) !important;
}

.polygon-tl-br-corner-decorator {
    clip-path: polygon(calc(0% + 1rem) 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%, 0 calc(0% + 1rem)) !important;
}

.modal-content {
    clip-path: polygon(calc(0% + 1.2rem) 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%, 0 calc(0% + 1.2rem));
    border-radius: 0 !important;
    color: $yello-color !important;
    background-color: $black-color !important;
}

.modal-header {
    border-radius: 0 !important;
    background-color: $yello-color !important;
    border: solid 1px $yello-color !important;
    color: $black-color;
    font-family: Rajdhani-Medium;
}

.modal-body {
    border: solid 1px $yello-color !important;
    border-top: unset !important;
}

.modal-footer {
    border-radius: 0 !important;
    background-color: $yello-color !important;
    border: solid 1px $yello-color !important;
    color: $black-color;
    font-family: Rajdhani-Medium;
}

.custom-input {
    height: 40px;
    background-color: $black-color;
    border: solid 2px $yello-color;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);


}

.custom-input-decorator {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%);
    background-color: $yello-color;
}

.custom-input:focus-visible {
    outline: unset !important;
    border: solid 2px $cian-color !important;
}

.custom-input-decorator:focus-within {
    background-color: $cian-color !important;
}

.invalid {
    .custom-input {
        border: solid 2px $red-color;
    }

    &.custom-input-decorator {
        background-color: $red-color;
    }
}

.btn-custom {
    padding: 0.5rem 1.5rem !important;
    border-radius: 0 !important;
    border: solid 2px $cian-color !important;
    background-color: $black-color !important;
    color: $cian-color !important;
    font-family: Rajdhani-Medium !important;
    font-size: 1.2rem !important;
    text-align: center !important;

    &.yello-styles {
        border: solid 2px $yello-color !important;
        color: $yello-color !important;
    }
    
    &.red-styles {
        border: solid 2px $red-color !important;
        color: $red-color !important;
    }
    
    &.green-styles {
        border: solid 2px $green-color !important;
        color: $green-color !important;
    }

    &.btn-menu {
        padding: 0.2rem 1.2rem !important;
    }

    &.btn-icon {
        padding: 0.5rem 0.5rem 0 0.6rem !important
    }
}

.btn-custom:active {
    background-color: $cian-color !important;
    color: $black-color !important;
    border: solid 2px $black-color !important;
}

.btn-custom-decorator {
    transition: background-color .15s ease-in-out;
    background-color: $cian-color;

    &.yello-styles {
        background-color: $yello-color;
    }
}

.btn-custom-decorator:active {
    transition: background-color .15s ease-in-out;
    background-color: $black-color;

    &.disabled {
        background-color: $cian-color;
    }
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background: transparent;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: url($cursor-md), auto;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    transition: background-color .15s ease-in-out;
    background: $yello-color;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%) !important;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    transition: background-color .15s ease-in-out;
    background: $yello-color;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%) !important;
}

.slider::-webkit-slider-thumb:hover {
    transition: background-color .15s ease-in-out;
    background: $cian-color;
}

.slider::-moz-range-thumb:hover {
    transition: background-color .15s ease-in-out;
    background: $cian-color;
}

.slider-text {
    position: absolute;
    width: calc(100% - 1.5rem);
    height: 40px;
    display: flex;
    background-color: $black-color;
    border: solid 2px $yello-color;
    justify-content: center;
    align-items: center;
}